*{
    margin: 0;
    padding: 0;
    font-family: sans-serif

}
@import "mediaQuery";
@import url('https://fonts.googleapis.com/css2? family= Istok+Web:ital,wght@0,400;0,700;1,700 & display=swap');
@import"variables";

header{
    .logo{
        width: 30%;   
     margin-top: 10px;
        margin-left: 1%;
        margin-bottom: 10px;
    }
    h1{
        text-align: end;
        margin: 30px;
        color:$h1color;
        text-decoration: double;
    }
    nav{
        background-color: $colorA;
        ul{
            a:hover{
                background-color: $color_resaltado;
                       
                    }         
        
                }

    }
}
.ta1{
    animation-name: tituloInicial2;
    animation-duration:9s;
    animation-iteration-count: 1 ;
    text-align: center;
    
}
@keyframes tituloInicial2{
    from{
        transform: translateY(-100px);
        width:2fr;
        color: white; 

    }

    to{
        transform: translateY(0);
    } 
}

/*animación del logo */
.logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes logo{
        from{
            transform: translateX(1000px);


        }
        to{
            transform: translateX(0);
           opacity: 10%;
        }
}
.negrita{
    font-weight: bolder;
    color: white;
}
.color_header{
    background-image: url("../imagenes/header1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
   
    background-color: rgb(162, 140, 240);
   
}

.bg_section{
    background-image: url(../imagenes/ecografia-obstetrica-800x468.jpg);
    
    
}
.fotos{
    width: fit-content;
    height: auto;   
}
.foto1{
    width: 40%;
}
.fotos2{
    width: 100%;
    
}
.margen{
    margin: 30px 20px;
    
}
.margen2{
    margin: 30px 25%;
   
}
.margen3{
    @extend .margen;
    padding-left: 80px;
    
}
.margen4{
    margin: 40px 50px;
    margin-top: 20px;
    padding: 25px;
    ul{
    li:hover{
            background-color: rgb(21, 192, 43);
              color: white; 
              font-weight: bolder;    
                }         
    
            }
        
}
.colorServicios{
    background-color: $colorA
}

.margen_carrusel{
    position: relative;
    margin: 10px;
    height: 10%;
    width: 30%
       
}
.margen_centrado{
    @extend .margen;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.pie{
    width: 25%;
    height: 20vh;  
    background-image: url(../imagenes/ecografia_feto_doce_semanas-800x535.jpg);
    background-size: cover;
    animation-name: scan;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes scan{
    from{
        opacity: 1;
}
to{
opacity: -100;
}
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color:$color_resaltado;
    width: 100%;
    height: auto;
    color: white;  
}
.registro{
    width: 100%;
    display: flex;
    margin:50px;
    justify-content: space-around;
}
.color{
    background-color:$color_resaltado;
    color: rgb(21, 192, 43);
}
.carrusel{
    height: 10px;
}
.footer2{
    display: flex;
    justify-content: space-between;
}
.footer3{
    display: flex;
    justify-content: center;
    
}
.box{
    width: 80%;
    height: 40vh;
    border: solid 3px $color_resaltado;
    margin: 40px;
}
.prueba2{
    width: 100%;
    height: 60vh;
}
.color_footerCintillo{
    background-color: $color_resaltado;
}
.imagenC{
    width: 100%;
    background-size:cover ;
}
.redesColor{
    display: flex;
    padding-left: 20px;
    color:$h1color;
    text-decoration: double;
}
.mantenimiento{
    background-image: url("../imagenes/mantenimiento.jpg");
 background-position: center center;
 background-repeat: no-repeat;
  background-size: cover;
 height:100vh;
  background-color: #FFF;
 text-align: center;
 color: #000;
 font-family: "Times New Roman", Times, serif;
}